<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got the music you need!</h2>
                <hr class="light">
                <p class="text-faded">Make your event the one people don’t stop talking about. Professional DJ services, clean sound, and energy that actually fits your crowd, not a generic playlist. Fast response, transparent pricing, and real availability.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Book Now!</a>
            </div>
        </div>
    </div>
</section>
